[user]
    email = shawns@nittanyweb.com
    name = Shawn Schmalz
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
